@model SistemaMAV.Web.ViewModels.Consultar.ItemsViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Mantenimiento de " + Model.Planilla.Modelo.Detalle + " " + Model.Planilla.AnioFabricacion.ToString();
    string objName = this.ViewContext.RouteData.Values["controller"].ToString();

    bool flgUserLogedIn = false;

    @if (SignInManager.IsSignedIn(User) && User.Identity != null) {
        IdentityUser? user = await UserManager.FindByNameAsync(User.Identity.Name??"");
        if (user != null) {
            flgUserLogedIn = true;
        }
    }
}

@Html.Raw(References.GetReferences_DataTables())

@if (Model.Vehiculo != null) {
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default" style="border: solid 1px lightblue;">
                <div class="box-header">
                    <h3 class="box-title">Mi Vehículo</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="row">
                        <dt class="col-sm-2">Patente</dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vehiculo.Patente)
                        </dd>
                        <dt class="col-sm-2">Kilómetros</dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vehiculo.Kilometros)
                        </dd>
                        <dt class="col-sm-2">Fecha de Alta</dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vehiculo.FechaAlta)
                        </dd>
                        <dt class="col-sm-2">Próximo Mantenimiento</dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vehiculo.ProximoMantenimiento)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Detalle de mantenimiento</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="grd" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Item de Mantenimiento</th>
                            <th>Kilómetros</th>
                            <th>Meses</th>
                            <th>Recomendaciones</th>
                            <th>Observaciones</th>
                            <th>Info. Extra</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SistemaMAV.Web.ViewModels.Consultar.ConsultaPlanillaItemViewModel item in Model.Items) {
                            <tr>
                                <td>
@if (item.HayStock && flgUserLogedIn) {
                                    <a class="btn btn-default btn-xs" href="/Consultar/Stock/@Html.Raw(item.ItemMantenimientoId)" title="Consultar stock y precios"><span class="glyphicon glyphicon-usd"> </span></a>
}
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemMantenimiento.Detalle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kilometros)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Meses)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Recomendaciones)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observaciones)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InfoExtra)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        initDataGrid("grd", 1);
    });
</script>
