@model SistemaMAV.Web.ViewModels.Consultar.TallerViewModel

@{
    ViewData["Title"] = "Lista de Talleres";
    string objName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-default" style="border: solid 1px lightblue;">
            <div class="box-header">
                <h3 class="box-title">Taller buscado</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form asp-action="Taller">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="FiltroLocalidad" class="control-label col-md-2"></label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("FiltroLocalidad", Model.FiltroLocalidad, new { @class = "form-control select2", @style = "width: 100%;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="FiltroNombre" class="control-label col-md-2"></label>
                                    <div class="col-md-4">
                                        <input asp-for="FiltroNombre" class="form-control" />
                                        <span asp-validation-for="FiltroNombre" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Aplicar filtros" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Raw(References.GetReferences_DataTables())

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Talleres</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="grd" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Localidad</th>
                            <th>Direccion</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Puntaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SistemaMAV.Web.ViewModels.Consultar.TallerItemConsulta item in Model.Talleres)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-default btn-xs" href="/Mantenimiento/Create/@Html.Raw(item.TallerId)" title="Ingresar un mantenimiento"><span class="glyphicon glyphicon-wrench"> </span></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Localidad.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Puntaje)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        initDataGrid("grd");
    });
</script>

<script>
    $(document).ready(function () {
        $("#FiltroLocalidad").select2();
    });
</script>
