@model IEnumerable<ItemMantenimientoViewModel>

@{
    ViewData["Title"] = "Items de Mantenimiento";
    string objName = this.ViewContext.RouteData.Values["controller"].ToString();
}

@Html.Raw(References.GetReferences_DataTables())

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p>
                    <a class="btn btn-primary btn-sm" href="/@Html.Raw(objName)/Create" title="Nuevo"><span class="glyphicon glyphicon-plus" style="margin-right: 5px;"></span>Nuevo</a>
                </p>
                <table id="grd" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detalle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.KilometrosPredeterminado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TiempoPredeterminado)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
@foreach (var item in Model) {
                        <tr>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/@Html.Raw(objName)/Edit/@Html.Raw(item.ItemMantenimientoId)" title="Modificar"><span class="glyphicon glyphicon-pencil"> </span></a>
                                <a class="btn btn-default btn-xs" href="/@Html.Raw(objName)/Details/@Html.Raw(item.ItemMantenimientoId)" title="Detalles"><span class="glyphicon glyphicon-eye-open"> </span></a>
                                <a class="btn btn-danger btn-xs" href="/@Html.Raw(objName)/Delete/@Html.Raw(item.ItemMantenimientoId)" title="Borrar"><span class="glyphicon glyphicon-remove"> </span></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Detalle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KilometrosPredeterminado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TiempoPredeterminado)
                            </td>
                        </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- page script -->
<script>
    $(document).ready(function () {
        initDataGrid("grd");
    });
</script>
